.qualification{
    position: relative;
    


    &__container{
        row-gap: 3.5rem;
        @include respond(tab-land) {
            grid-template-columns: repeat(2,max-content);
            justify-content: center;
            column-gap: 10rem;
          }
    }
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .5rems;
        font-size: $small-font-size;
        font-weight: $font-semi-bold;
        margin-bottom: 2rem;

        & i {
            font-size: 1rem;
            font-weight: initial;
        }
    }

    &__info{
        display: grid;
        row-gap: 2rem;
    }

    &__name{
        font-size: $normal-font-size;
        margin-bottom: 1.25rem;
    }
    &__country,&__year{
        display: block;
        font-size: $small-font-size;
        color: $text-color-light;
    }

    &__country{
        margin-bottom: .75rem;
    }

    &__img{
        width: 150px;
        position: absolute;
        right: -3rem;
        bottom: 12rem;
        transform: rotate(15deg);
        opacity: .1;
    }


}