.projects__container .swiper-button-prev::after,.projects__container .swiper-button-next::after{
content: '';
}

.projects__container .swiper-button-prev,.projects__container .swiper-button-next{
width: initial;
height: initial;
margin: initial;
font-size: 2.5rem;
color: $title-color;
}

.projects__container .swiper-button-prev{
    left:  -1rem;
    top:4.5rem;

    @include respond(tab-port) {
    left: 1rem;
      }
}

.projects__container .swiper-button-next{
    right:  -1rem;
    top:4.5rem;

    @include respond(tab-port) {
        right: 1rem;
      }
}

.projects__container .swiper-slide{
    margin-bottom: 4.5rem;
}

.projects__container .swiper-pagination-bullets{
    bottom: 0;
}

.projects__container .swiper-pagination-bullet{
   background-color: $text-color-light;
   opacity: initial;
}

.projects__container .swiper-pagination-bullet-active{
    background-color: $title-color
    
 }