.container{
    max-width: 1024px;
    margin-inline: 1.5rem;


    @include respond(desktop-lg) {
        margin-inline: auto;
      }

    @include respond(phone) {
        margin-inline: 1rem;
      }


}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 2.5rem;

    @include respond(desktop) {
        padding-block: 8rem 0;
     }

    &__border{
        border-bottom: 1px solid $title-color;
        padding-bottom: 3.5rem;
        @include respond(big-desk) {
            padding-bottom: 6rem;
          }
    
    }

    &__title,&__subtitle{
        text-align: center;
    }

    &__title{
        font-size: $h1-font-size;
        font-weight: $font-semi-bold;
        margin-bottom: .25rem;
    }
    &__subtitle{
        display: block;
        font-size: $small-font-size;
        color: $text-color-light;
        margin-bottom: 3rem;
    }

}

.main{
    overflow: hidden;
}

.color-blue{
color: hsl(207,56%,45%);
}

.color-red{
color: hsl(4, 71%, 50%);
}

.active-link{
    color:  hsl(4, 71%, 50%) !important;
}

.bg-header{
   box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1); 
}
.dark-theme .bg-header{
    box-shadow: 0 6px 24px hsla(207, 24%, 8%, .6);
}