.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 2.5rem;

    &__border{
        border-bottom: 1px solid $title-color;
        padding-bottom: 3.5rem;
    }

    &__title,&__subtitle{
        text-align: center;
    }

    &__title{
        font-size: $h1-font-size;
        font-weight: $font-semi-bold;
        margin-bottom: .25rem;
    }
    &__subtitle{
        display: block;
        font-size: $small-font-size;
        color: $text-color-light;
        margin-bottom: 3rem;
    }

}

.main{
    overflow: hidden;
}

.color-blue{
color: hsl(207,56%,45%);
}

.color-red{
color: hsl(4, 71%, 50%);
}