/*Color*/
/**Typography/

/*.5rem = 8px | 1 rem =16px*/
/*Z-index*/
/*Responsive Typography*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  background-color: #fcfcfd;
  color: #45484a; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3 {
  color: #27292a;
  font-family: "Lora", serif;
  font-weight: 500; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 1024px;
  margin-inline: 1.5rem; }
  @media (min-width: 1048px) {
    .container {
      margin-inline: auto; } }
  @media (max-width: 340px) {
    .container {
      margin-inline: 1rem; } }

.grid {
  display: grid;
  gap: 1.5rem; }

.section {
  padding-block: 2.5rem; }
  @media (min-width: 1023px) {
    .section {
      padding-block: 8rem 0; } }
  .section__border {
    border-bottom: 1px solid #27292a;
    padding-bottom: 3.5rem; }
    @media (min-width: 1200px) {
      .section__border {
        padding-bottom: 6rem; } }
  .section__title, .section__subtitle {
    text-align: center; }
  .section__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .25rem; }
  .section__subtitle {
    display: block;
    font-size: 0.813rem;
    color: #8a8f93;
    margin-bottom: 3rem; }

.main {
  overflow: hidden; }

.color-blue {
  color: #3279b3; }

.color-red {
  color: #da3125; }

.active-link {
  color: #da3125 !important; }

.bg-header {
  box-shadow: 0 4px 20px rgba(68, 91, 111, 0.1); }

.dark-theme .bg-header {
  box-shadow: 0 6px 24px rgba(16, 21, 25, 0.6); }

@keyframes bounce-skills {
  0% {
    transform: translate(0); }
  20% {
    transform: translateY(-6px); }
  40% {
    transform: translate(0); }
  60% {
    transform: translateY(-3px); }
  80% {
    transform: translate(0); } }

.header {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  left: 0;
  z-index: 100; }
  @media (min-width: 1023px) {
    .header {
      top: 0;
      bottom: initial;
      background-color: #fcfcfd;
      transition: .4s; } }

.nav {
  height: calc((3.5rem) + .5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfd;
  box-shadow: 0 4px 20px rgba(87, 118, 142, 0.1);
  padding-inline: 1.5rem;
  border-radius: 3rem; }
  @media (min-width: 576px) {
    .nav, .nav__menu {
      width: 380px; } }
  @media (min-width: 1023px) {
    .nav {
      width: initial;
      height: calc(3.5rem + .5rem);
      box-shadow: none;
      border-radius: 0;
      column-gap: 3rem;
      margin-inline: 1.5rem;
      padding: 0; } }
  @media (min-width: 576px) {
    .nav {
      margin: 0 auto; } }
  .nav__logo, .nav__toggle, .nav__close {
    color: #27292a; }
  .nav__logo {
    font-family: "Lora", serif;
    font-weight: 500; }
  .nav__toggle {
    display: flex;
    font-size: 1.25rem;
    cursor: pointer; }
  .nav__list {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 2rem 3rem; }
    @media (max-width: 340px) {
      .nav__list {
        gap: 1rem 1.25rem; } }
    @media (min-width: 1023px) {
      .nav__list {
        display: flex;
        column-gap: 3rem; } }
  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: 0.75rem;
    color: #45484a;
    transition: color .3s; }
    @media (min-width: 1023px) {
      .nav__link {
        font-size: 0.938rem; } }
    .nav__link:hover {
      color: #27292a; }
    .nav__link i {
      font-size: 1.25rem; }
  .nav__close {
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer; }
  .nav__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.5rem; }
  @media (min-width: 1023px) {
    .nav__menu {
      width: initial;
      margin-left: auto;
      background-color: #fcfcfd;
      transition: background .4s; } }
  @media (max-width: 340px) {
    .nav__menu {
      padding-bottom: 4rem; } }
  @media (min-width: 1023px) {
    .nav__link i, .nav__close, .nav__toggle {
      display: none; } }

.show-menu {
  bottom: 2rem !important; }

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    width: 88%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background-color: #fcfcfd;
    box-shadow: 0 4px 20px rgba(68, 91, 111, 0.1);
    padding: 2rem 1.5rem 5rem;
    border-radius: 2rem;
    transition: bottom .3s; } }

.home__container {
  row-gap: 4rem;
  padding-top: 2rem; }
  @media (min-width: 767px) {
    .home__container {
      grid-template-columns: 1fr 2fr 1fr; } }

.home__data {
  row-gap: 1.5rem; }
  @media (min-width: 1200px) {
    .home__data {
      row-gap: 2.5rem; } }
  @media (min-width: 767px) {
    .home__data {
      order: 2; } }

.home__title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .3px;
  margin-bottom: .5rem; }
  @media (min-width: 1200px) {
    .home__title {
      font-size: 1.5rem; } }
  @media (min-width: 1023px) {
    .home__title {
      font-size: 2.25rem; } }

.home__blob {
  position: relative;
  width: 200px;
  height: 190px;
  background-color: #fcfcfd;
  border: 2px solid #45484a;
  justify-self: center;
  border-radius: 6.2rem;
  place-items: center; }
  @media (min-width: 1200px) {
    .home__blob {
      width: 400px;
      height: 580px;
      border-radius: 12.5rem; } }

.home__perfil {
  width: 170px;
  height: 188px;
  background: linear-gradient(180deg, rgba(149, 187, 218, 0), #6cace0);
  border-radius: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  @media (min-width: 1200px) {
    .home__perfil {
      width: 340px;
      height: 520px;
      border-radius: 10.6rem; } }
  .home__perfil img {
    width: 150px; }
    @media (min-width: 1200px) {
      .home__perfil img {
        width: 300px; } }

.home__shape-waves, .home__shape-circles {
  position: absolute;
  opacity: .1; }

.home__shape-waves {
  width: 50px;
  left: -1.5rem;
  top: 5rem; }
  @media (min-width: 1200px) {
    .home__shape-waves {
      width: 100px;
      left: -4rem;
      top: 10rem; } }

.home__shape-circles {
  width: 150px;
  bottom: -2rem;
  right: -3rem;
  transform: rotate(15deg);
  z-index: -1; }
  @media (min-width: 1200px) {
    .home__shape-circles {
      width: 250x;
      bottom: -1rem;
      right: -5rem; } }

.home__social {
  justify-self: center;
  display: flex;
  column-gap: 1.25rem; }
  @media (min-width: 1200px) {
    .home__social {
      column-gap: 2rem; } }
  .home__social--link {
    font-size: 1.25rem;
    color: #45484a;
    transition: color .3s ease; }
    @media (min-width: 1200px) {
      .home__social--link {
        font-size: 1.5rem; } }
    .home__social--link:hover {
      color: #c1c1c1; }

.home__info {
  display: grid;
  row-gap: 2rem; }
  @media (min-width: 1200px) {
    .home__info {
      grid-template-rows: repeat(3, 130px);
      row-gap: 4rem;
      margin-top: 16rem; } }
  .home__info {
    margin-top: 10rem; }
  @media (min-width: 767px) {
    .home__info:nth-child(3) {
      order: 3;
      text-align: right; } }
  .home__info--title {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: #8a8f93;
    margin-bottom: 1rem; }
  .home__info--description, .home__info--number {
    font-family: "Lora", serif;
    color: #27292a; }
  .home__info--description {
    padding-right: 4rem; }
    @media (min-width: 767px) {
      .home__info--description {
        padding-right: 0; } }
  .home__info--number {
    font-size: 1.5rem;
    font-weight: 600; }

.skills__container {
  row-gap: 3.5rem; }
  @media (min-width: 576px) {
    .skills__container {
      justify-content: center; } }
  @media (min-width: 767px) {
    .skills__container {
      grid-template-columns: repeat(2, max-content);
      column-gap: 5rem; } }

.skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: 2.5rem; }
  .skills__title__ i {
    font-size: 1rem;
    font-weight: initial; }

.skills__info, .skills__data, .skills__blob {
  display: grid; }

.skills__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem; }
  @media (max-width: 340px) {
    .skills__info {
      grid-template-columns: repeat(2, 1fr); } }

.skills__data {
  justify-content: center;
  text-align: center; }

.skills__blob {
  width: 80px;
  height: 100px;
  background-color: #f2f2f3;
  border-radius: 3rem;
  margin-bottom: 1rem;
  place-items: center; }
  .skills__blob img {
    width: 40px; }
  .skills__blob:hover img {
    animation: bounce-skills .6s; }

.skills__name {
  font-size: 0.813rem;
  margin-bottom: .25rem; }

.skills__subtitle {
  font-size: 0.625rem;
  color: #8a8f93; }

.qualification {
  position: relative; }
  .qualification__container {
    row-gap: 3.5rem; }
    @media (min-width: 767px) {
      .qualification__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 10rem; } }
  .qualification__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rems;
    font-size: 0.813rem;
    font-weight: 600;
    margin-bottom: 2rem; }
    .qualification__title i {
      font-size: 1rem;
      font-weight: initial; }
  .qualification__info {
    display: grid;
    row-gap: 2rem; }
  .qualification__name {
    font-size: 0.938rem;
    margin-bottom: 1.25rem; }
  .qualification__country, .qualification__year {
    display: block;
    font-size: 0.813rem;
    color: #8a8f93; }
  .qualification__country {
    margin-bottom: .75rem; }
  .qualification__img {
    width: 150px;
    position: absolute;
    right: -3rem;
    bottom: 12rem;
    transform: rotate(15deg);
    opacity: .1; }

.services__container {
  row-gap: 2.5rem;
  justify-content: center; }
  @media (min-width: 767px) {
    .services__container {
      grid-template-columns: repeat(2, max-content);
      column-gap: 5rem; } }

.services__card {
  position: relative;
  width: 228px;
  height: 322px;
  background-color: #f2f2f3;
  text-align: center;
  padding: 3.5rem 1rem;
  border-radius: 7.25rem; }
  .services__card:hover .services__border {
    opacity: 1; }
  .services__card:hover i {
    transform: rotateY(360deg); }
  .services__card i {
    display: block;
    font-size: 2rem;
    color: #27292a;
    margin-bottom: .75rem;
    transition: transform .8s; }

.services__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem; }

.services__border {
  width: 248px;
  height: 342px;
  border: 1.8px solid #8a8f93;
  border-radius: 7.75rem;
  position: absolute;
  inset: 0;
  left: -10px;
  margin: auto;
  z-index: -1;
  transition: opacity .6s;
  opacity: 0; }

.projects__container {
  overflow: initial; }
  @media (min-width: 576px) {
    .projects__container {
      width: 400px;
      overflow: hidden; } }
  @media (min-width: 767px) {
    .projects__container {
      width: 500px; } }

.projects__content {
  display: grid;
  justify-content: center; }

.projects__img {
  width: 250px;
  border-radius: .75rem;
  margin-bottom: 1.25rem; }
  @media (max-width: 340px) {
    .projects__img {
      width: 200px;
      justify-self: center; } }

.projects__subtitle {
  font-size: 0.813rem;
  color: #8a8f93; }

.projects__title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  margin: .5rem 0 1.25rem; }

.projects__button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: #27292a;
  font-size: 0.813rem; }
  .projects__button:hover i {
    transform: translateX(0.25rem); }
  .projects__button i {
    font-size: 1rem;
    transition: transform .3s; }

.projects__container .swiper-button-prev::after, .projects__container .swiper-button-next::after {
  content: ''; }

.projects__container .swiper-button-prev, .projects__container .swiper-button-next {
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: #27292a; }

.projects__container .swiper-button-prev {
  left: -1rem;
  top: 4.5rem; }
  @media (min-width: 576px) {
    .projects__container .swiper-button-prev {
      left: 1rem; } }

.projects__container .swiper-button-next {
  right: -1rem;
  top: 4.5rem; }
  @media (min-width: 576px) {
    .projects__container .swiper-button-next {
      right: 1rem; } }

.projects__container .swiper-slide {
  margin-bottom: 4.5rem; }

.projects__container .swiper-pagination-bullets {
  bottom: 0; }

.projects__container .swiper-pagination-bullet {
  background-color: #8a8f93;
  opacity: initial; }

.projects__container .swiper-pagination-bullet-active {
  background-color: #27292a; }

.contact__container {
  row-gap: 3.5rem; }
  @media (min-width: 767px) {
    .contact__container {
      grid-template-columns: repeat(2, max-content); } }
  @media (min-width: 767px) {
    .contact__container {
      justify-content: center;
      column-gap: 8rem; } }

.contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: 2.5rem; }
  .contact__title i {
    font-size: 1rem;
    font-weight: initial; }

.contact__info, .contact__data, .contact__form {
  display: grid; }

.contact__info {
  row-gap: 2rem; }

.contact__data {
  row-gap: .75rem; }
  .contact__data-title {
    font-size: 0.813rem;
    color: #8a8f93; }
  .contact__data-info {
    font-size: 0.813rem;
    font-family: "Lora", serif;
    color: #27292a; }

.contact__button {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: #27292a;
  font-size: 0.813rem; }
  .contact__button i {
    font-size: 1rem;
    transition: transform .3s; }
  .contact__button:hover {
    transform: translateX(0.25rem); }

.contact__form {
  position: relative;
  row-gap: 2rem; }
  @media (min-width: 767px) {
    .contact__form {
      width: 360px; } }
  .contact__form-div {
    position: relative;
    height: 4rem; }
  .contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #8a8f93;
    padding: 1.5rem;
    border-radius: 2rem;
    font-size: 0.938rem;
    font-family: "Lora", serif;
    color: #27292a;
    background: none;
    outline: none;
    z-index: 1; }
  .contact__form-tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    z-index: 10;
    background-color: #fcfcfd;
    color: #27292a;
    font-size: 0.75rem;
    font-weight: 500;
    padding: .35rem; }
  .contact__form-area {
    height: 10rem; }
  .contact__form-area textarea {
    resize: none; }

.contact__form .contact__button {
  border: none;
  background: none;
  font-size: 1.25rem;
  font-family: "Lora", serif;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  margin-top: 8rem; }
  .contact__form .contact__button i {
    font-size: 1.5rem;
    font-weight: initial; }

.contact__confirm {
  font-size: 0.813rem;
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem; }

.footer__container {
  padding: 3rem 0 7rem;
  text-align: center; }

.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem; }

.footer__list, .footer__social {
  display: flex;
  justify-content: center; }

.footer__list {
  margin: 2.5rem 0;
  column-gap: 2.5rem; }
  .footer__list:hover {
    text-decoration: underline; }

.footer__social {
  column-gap: 1.2rem; }
  .footer__social-link {
    font-size: 1.25rem;
    color: #27292a;
    transition: transform .3s; }
    .footer__social-link:hover {
      transform: translateY(-0.15rem); }

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  font-size: 0.813rem;
  color: #8a8f93; }

::-webkit-scrollbar {
  width: .6rem;
  border: .5rem;
  background-color: #bdc0c2; }

::-webkit-scrollbar-thumb {
  background-color: #a2a6a9;
  border-radius: .5rem; }

::-webkit-scrollbar-thumb:hover {
  background-color: #888d91; }

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 0;
  background-color: #fcfcfd;
  box-shadow: 0 4px 12px rgba(68, 91, 111, 0.15);
  display: inline-flex;
  padding: .35rem;
  font-size: 1.1rem;
  color: #27292a;
  z-index: 10;
  transition: bottom .3s, transform .3s; }
  @media (min-width: 1023px) {
    .scrollup {
      right: 3rem; } }
  .scrollup:hover {
    transform: translateY(-0.25rem); }

.show-scroll {
  bottom: 9.5rem; }
  @media (min-width: 1023px) {
    .show-scroll {
      bottom: 5rem; } }

.change-theme {
  font-size: 1.35rem;
  color: #27292a;
  cursor: pointer;
  transition: color .3s; }
  @media (min-width: 1023px) {
    .change-theme {
      color: #27292a; } }

body.dark-theme {
  /*Color*/
  background-color: #181a1b;
  color: #eceef0; }

.dark-theme .nav, .dark-theme .nav__menu, .dark-theme .scrollup {
  max-width: 1024px;
  margin-inline: 1.5rem;
  box-shadow: 0 4px 20px rgba(16, 21, 25, 0.4); }

@media (min-width: 1023px) {
  .dark-theme .nav, .dark-theme .nav__menu {
    background-color: #fcfcfd; } }
