/*Color*/
/**Typography/

/*.5rem = 8px | 1 rem =16px*/
/*Z-index*/
/*Responsive Typography*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  background-color: #fcfcfd;
  color: #45484a; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3 {
  color: #27292a;
  font-family: "Lora", serif;
  font-weight: 500; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 1024px;
  margin-inline: 1.5rem; }

.grid {
  display: grid;
  gap: 1.5rem; }

.section {
  padding-block: 2.5rem; }
  .section__border {
    border-bottom: 1px solid #27292a;
    padding-bottom: 3.5rem; }
  .section__title, .section__subtitle {
    text-align: center; }
  .section__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .25rem; }
  .section__subtitle {
    display: block;
    font-size: 0.813rem;
    color: #8a8f93;
    margin-bottom: 3rem; }

.main {
  overflow: hidden; }

@keyframes bounce-skills {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(-6px); }
  40% {
    transform: translate(0); } }

.header {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  left: 0;
  z-index: 100; }

.nav {
  height: calc((3.5rem) + .5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfd;
  box-shadow: 0 4px 20px rgba(87, 118, 142, 0.1);
  padding-inline: 1.5rem;
  border-radius: 3rem; }
  .nav__logo, .nav__toggle, .nav__close {
    color: #27292a; }
  .nav__logo {
    font-family: "Lora", serif;
    font-weight: 500; }
  .nav__toggle {
    display: flex;
    font-size: 1.25rem;
    cursor: pointer; }
  .nav__list {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 2rem 3rem; }
  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: 0.75rem;
    color: #45484a;
    transition: color .3s; }
    .nav__link:hover {
      color: #27292a; }
    .nav__link i {
      font-size: 1.25rem; }
  .nav__close {
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer; }

.show-menu {
  bottom: 2rem !important; }

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    width: 88%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background-color: #fcfcfd;
    box-shadow: 0 4px 20px rgba(68, 91, 111, 0.1);
    padding: 2rem 1.5rem 5rem;
    border-radius: 2rem;
    transition: bottom .3s; } }

.home__container {
  row-gap: 4rem;
  padding-top: 2rem; }

.home__data {
  row-gap: 1.5rem; }

.home__title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .3px;
  margin-bottom: .5rem; }

.home__blob {
  position: relative;
  width: 200px;
  height: 190px;
  background-color: #fcfcfd;
  border: 2px solid #45484a;
  justify-self: center;
  border-radius: 6.2rem;
  place-items: center; }

.home__perfil {
  width: 170px;
  height: 188px;
  background: linear-gradient(180deg, rgba(149, 187, 218, 0), #6cace0);
  border-radius: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .home__perfil img {
    width: 150px; }

.home__shape-waves, .home__shape-circles {
  position: absolute;
  opacity: .1; }

.home__shape-waves {
  width: 50px;
  left: -1.5rem;
  top: 5rem; }

.home__shape-circles {
  width: 150px;
  bottom: -2rem;
  right: -3rem;
  transform: rotate(15deg);
  z-index: -1; }

.home__social {
  justify-self: center;
  display: flex;
  column-gap: 1.25rem; }
  .home__social--link {
    font-size: 1.25rem;
    color: #45484a;
    transition: color .3s ease; }
    .home__social--link:hover {
      color: #c1c1c1; }

.home__info {
  display: grid;
  row-gap: 2rem; }
  .home__info--title {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: #8a8f93;
    margin-bottom: 1rem; }
  .home__info--description, .home__info--number {
    font-family: "Lora", serif;
    color: #27292a; }
  .home__info--description {
    padding-right: 4rem; }
  .home__info--number {
    font-size: 1.5rem;
    font-weight: 600; }

.skills__container {
  row-gap: 3.5rem; }

.skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: 2.5rem; }
  .skills__title__ i {
    font-size: 1rem;
    font-weight: initial; }

.skills__info, .skills__data, .skills__blob {
  display: grid; }

.skills__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem; }

.skills__data {
  justify-content: center;
  text-align: center; }

.skills__blob {
  width: 80px;
  height: 100px;
  background-color: #f2f2f3;
  border-radius: 3rem;
  margin-bottom: 1rem;
  place-items: center; }
  .skills__blob img {
    width: 40px; }
  .skills__blob:hover img {
    animation: bounce-skills .6s; }

.skills__name {
  font-size: 0.813rem;
  margin-bottom: .25rem; }

.skills__subtitle {
  font-size: 0.625rem;
  color: #8a8f93; }
